<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Gulp Test-drive!</title>
    <!--build:css css/styles.min.css-->
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/any-lib.css">
    <!--endbuild-->
  </head>
  <body>
    <main>
      {% block main %}{% endblock %}
    </main>
    <!--build:js js/index.min.js-->
    <script src="js/index.js"></script>
    <script src="js/any-lib.js"></script>
    <!--endbuild-->
  </body>
</html>